In [23]:
import pandas as pd
from sklearn import tree
import io
import pydot
import pydotplus
import graphviz

In [17]:
import os 

os.environ["PATH"] += os.pathsep + 'C:/Users/kumarijy/Downloads/Graphviz2.38/release/bin/'

In [2]:
titanic_train = pd.read_csv('C:/Users/kumarijy/Documents/Learning/gyanVriksh/Titanic/train.csv')

In [3]:
type(titanic_train)

pandas.core.frame.DataFrame

In [4]:
titanic_train.shape

(891, 12)

In [5]:
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 66.2+ KB

In [6]:
#checking columns name
titanic_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#### Choosing Column
- we are choosing columns which has non null value and the columns which have numerical value for starters

In [7]:
x_titanic_train = titanic_train[['Pclass','SibSp','Parch']]
y_titanic_train = titanic_train['Survived']

#### Building Decision Tree

In [8]:
dt = tree.DecisionTreeClassifier()
dt.fit(x_titanic_train,y_titanic_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [29]:
#Pydotplus pakage is used when we want to use 3rd party pakages. 
#1. create IO obj for writing and reading 3rd party object
objstringIO = io.StringIO()
#write the graphviz object to objstringIO(object)
tree.export_graphviz(dt,out_file=objstringIO, feature_names = x_titanic_train.columns,filled=True, rounded=True)
#Use out_file = objStringIO to getvalues()
#will read objstringIO object content line by line
file1 = pydotplus.graph_from_dot_data(objstringIO.getvalue())
#os.chdir('C:/Users/kumarijy/Documents/Learning/gyanVriksh/Titanic')
#write read content to pdf
file1.write_pdf("DecissionTree1.pdf")

True

In [28]:
# without pydot and by installing graphviz pakage using comment pip install graphviz
graph_data  = tree.export_graphviz(dt, out_file=None, 
                         feature_names=x_titanic_train.columns,  
                         #class_names=x_titanic_train.,  
                         filled=True, rounded=True,  
                         special_characters=True)  

graph = graphviz.Source(graph_data)

graph.render('DecissionTree2')

'DecissionTree2.pdf'

In [27]:
from sklearn.model_selection import cross_val_score
clf = tree.DecisionTreeClassifier(random_state=0)
cross_val_score(clf,x_titanic_train,y_titanic_train)

array([0.65656566, 0.6969697 , 0.71043771])

In [16]:
titanic_test = pd.read_csv('test.csv')

In [12]:
x_titanic_test = titanic_test[['Pclass','SibSp','Parch']]

In [13]:
titanic_test['Survived']=dt.predict(x_titanic_test)

In [14]:
titanic_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0

In [15]:
titanic_test.to_csv("Submission_titanic.csv",columns=['PassengerId','Survived'],index=False)